

.banner {
  background: #dd2020;
  padding: 0rem;
  justify-content: space-between;
  display: flex;
  width: 100%;
  /* 1. Få elementerne til at stå ved siden af hinanden og brug justify-content til at skubbe dem væk fra hinanden */
}

.main-menu ul {
  list-style: none;
  padding: 0rem;
  display: inline-flex;
  gap: 1rem;
  /* 2. Få elementerne til at stå ved siden af hinanden */
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;

}

  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  #playstation {
    display: none;
  }

  #playstation.shown  {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  #xbox {
    display: none;
  }

  #xbox.shown  {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  #nintendo {
    display: none;
  }

  #nintendo.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  #nintendo {
    display: none;
  }

  #nintendo.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  #sega {
    display: none;
  }

  #sega.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  #andet {
    display: none;
  }

  #andet.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-family: "Inconsolata&family=Noto+Sans+JP&display=swap", sans-serif;
    line-height: 1.5rem;
  }
  .footer > * {
    margin: 20px;
  }
  .åbningstider {
    display: flex;
    flex-direction: column;
  }
  .kontaktoplysninger {
    display: flex;
    flex-direction: column;
  }
  .nyhedsbrev {
    margin-bottom: 20px;
  }
  footer {
    background-color: var(--red);
    color: var(--white);
  }
  
  @media (max-width: 800px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  






