html {
  /* farve */
  --black: #0d0c0c;
  --red: #dd2020;
  --darkgrey: #a5a2a2;
  --lightgrey: #d3d3d3;
  --white: #ffffff;

  /* paddig */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  /* anvend ved fx. 
  h1 {
  color: var(--xx);
}
  */
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.omos {
  max-width: 60ch;
  min-height: 90vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-inline: 1rem;
  margin-top: 10%;
  margin-bottom: 10%;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Inconsolata&family=Noto+Sans+JP&display=swap", sans-serif;
  line-height: 1.5rem;
}
.footer > * {
  margin: 20px;
}
.åbningstider {
  display: flex;
  flex-direction: column;
}
.kontaktoplysninger {
  display: flex;
  flex-direction: column;
}
.nyhedsbrev {
  margin-bottom: 20px;
}
footer {
  background-color: var(--red);
  color: var(--white);
}

@media (max-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
