html {
  /* farve */
  --black: #0d0c0c;
  --red: #dd2020;
  --darkgrey: #a5a2a2;
  --lightgrey: #d3d3d3;
  --white: #ffffff;

  /* paddig */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  /* anvend ved fx. 
  h1 {
  color: var(--xx);
}
  */
}

html{
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--black);
}

h2 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: var(--black);
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--black);
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--black);
}

.main {
  background-color: var(--white);
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/* forside video */
video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
