.main {
    background-color: rgb(255, 255, 255);
}

/* Header */
.header {
    padding: 10px 16px;
    background: rgb(185, 6, 6);
    color: #ffffff;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .content {
    padding-top: 102px;
  }